*{
    padding:0%;
    margin: 0%;
}
.main {
    background-image: url("assets/Images/bg-img.png");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0%;
}
nav {
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 68vw;
    justify-content: space-between;
    height: 62px;
}
.logo {
    height: 38px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}